# dependencies
/node_modules/
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
__pycache__/
# misc
.DS_Store
.env


npm-debug.log*
yarn-debug.log*
yarn-error.log*

#personal
note

# PyCharm
/venv/
/.idea/