.boxed {
    background-color: red; 
    border-radius: 5px; 
    text-align: center; 
    color: white;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%;
    margin: 0 auto; 
  }
  
  .indented {
    text-indent: 20px;
    text-align: left;
  }
  
  .sized {
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%; 
    margin: 0 auto; 
  }
  
  .tabled {
    border: 1px solid black ;
    height: 60%;
    width: 60%;
    left: 20%;
    top: 20%; 
    margin: 0 auto; 
  }