.AddTask {
	background-color: #89899e;
	display: flex;
	flex-direction: column;
	max-width: 20%;
	position: relative;
	left: 40%;
}
.TaskTextField {
	background-color: #a7d7a7;
}
.TaskButton {
	background-color: #d7bfa7;
}
